
{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div class="admin-wrapper">
  {% include 'admin/partials/_sidebar.html.twig' %}
  <div class="admin-main-content">
    <div class="content-inner">
      <h1>Nouvelle question</h1>
      {% include 'admin/faq/_form.html.twig' with {form: form} %}
    </div>
  </div>
</div>
{% endblock %}
