/* Conteneur global */
.admin-wrapper {
  display: flex;
  min-height: 100vh;
  position: sticky;
}

/* Conteneur horizontal : sidebar + contenu */
.admin-layout {
  display: flex;
  flex: 1;
}

/* Pour que main prenne toute la place à droite */
.admin-content {
  flex: 1;
  padding: 2rem;
  background-color: #f7f7f7;
  overflow-x: auto;
}