/*  STRUCTURE FLEXBOX PRINCIPALE  */

.admin-wrapper {
  display: flex;
  min-height: 100vh;
}


/* Contenu principal */
.admin-content {
  padding: 2rem;
  flex: 1;
} 

/*  Cartes */
.dashboard-cards {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.dashboard-cards .card {
  flex: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.dashboard-cards .card h2 {
  font-size: 2rem;
  color: #6c45e0;
  margin-bottom: 0.5rem;
}
