
{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}