# config/packages/framework.yaml
framework:
  secret: '%env(APP_SECRET)%'
  annotations: false
  http_method_override: false
  handle_all_throwables: true

  
  html_sanitizer:
    sanitizers:
      app.faq: ~   

 
  session:
    handler_id: null
    cookie_secure: auto
    cookie_samesite: lax

  php_errors:
    log: true

when@test:
  framework:
    test: true
    session:
      storage_factory_id: session.storage.factory.mock_file
