{# templates/image/upload.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Upload d'image{% endblock %}

{% block body %}
    <h1>Uploader une image vers Amazon S3</h1>

    <form action="{{ path('upload_image') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}