# config/services.yaml
parameters:
  # Dossier où seront stockées les images des activités
  activities_upload_dir: '%kernel.project_dir%/public/images/activities'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  # ⛔️ NE PAS injecter $activitiesUploadDir dans le contrôleur admin
  # On utilise getParameter('activities_upload_dir') directement dans le code.
  #
  # App\Controller\Admin\AdminActivityController:
  #   arguments:
  #     $activitiesUploadDir: '%activities_upload_dir%'
