.login-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 150px;
    
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-login {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #7A3FFD; /* violet */
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #5f2bd9;
}

.login-links {
    margin-top: 1.5rem;
    text-align: center;
}

.login-links a {
    color: #7A3FFD;
    text-decoration: none;
}

.login-links a:hover {
    text-decoration: underline;
}