{# =============================
   BASE TEMPLATE : base.html.twig
   ============================= #}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{# ---- TITRE DE LA PAGE ---- #}
		<title>
			{% block title %}Kidzen&Fun
			{% endblock %}
		</title>

		{# ---- STYLES CSS PAR PAGE ---- #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{# ---- SCRIPTS JS PAR PAGE ---- #}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
	
		{# ---- EN-TÊTE DU SITE (partagé sur toutes les pages) ---- #}
		{% include 'partials/header.html.twig' %}

		{# ---- CONTENU PRINCIPAL DE CHAQUE PAGE ---- #}
		{% block body %}{% endblock %}

		{# ---- PIED DE PAGE DU SITE (partagé sur toutes les pages) ---- #}
		{% include 'partials/footer.html.twig'%}

	</body>

</html>
