{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Page introuvable - Kidzen&Fun{% endblock %}

{% block body %}
<section class="error-page">
  <div class="container">
    <h1>Oups ! Page introuvable 😕</h1>
    <p>La page que vous cherchez n’existe pas ou a été déplacée.</p>
    <a href="{{ path('home') }}" class="btn">Retour à l’accueil</a>
  </div>
</section>
{% endblock %}
